[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
keyring = "*"
pwinput = "*"

[dev-packages]
homebrew-pypi-poet = "*"

[requires]
python_version = "3.10"
